[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
mysqlclient = "*"
urlresolvers = "*"
django-core-urlresolvers = "*"
reachable = {index = "https://pypi.org/simple",version = "*"}
xadmin = {file = "https://codeload.github.com/sshwsfc/xadmin/zip/django2"}
requests = "*"

[requires]
python_version = "3.7"
