[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-crispy-forms = "*"
django-import-export = "*"
django-reversion = "*"
django-formtools = "*"
future = "*"
httplib2 = "*"
six = "*"
xlwt = "*"
requests = "*"
XlsxWriter = "*"

[requires]
python_version = "3.7"
